.center {
  justify-content: center;
  text-align: center;
  align-items: center;
}

.result-panel {
  background-color: #5e678e;
  border-radius: 5px;
  border: 0px;
  padding: 30px;
  width: auto;
  overflow-x: auto;
  overflow-y: auto;
  margin-top: 5% !important;
  margin-bottom: 5% !important;
  font-size: 65% !important;
  font-family: "Arimo";
  font-weight: 400;
}

.panel-hint {
  font-size: 1.5em;
  font-weight: 700;
  font-family: "Syne";
  word-spacing: 5px;
  color: rgb(217, 225, 255);
}

.remove-leftpad {
  padding-left: 0px !important;
}

.num-cube {
  background-color: rgba(185, 215, 255, 0.46);
  color: rgb(217, 225, 255);
  font-size: 1.5em;
  font-weight: 500;
  font-family: "Syne";
  width: 90%;
  height: 90%;
  border-radius: 5px;
  padding-top: 5%;
  text-align: center !important;
}

.input-heading {
  color: rgb(217, 225, 255);
  font-family: Arimo;
  font-weight: 500;
  font-size: 1.3em;
}

.H-align {
  text-align: right;
}

.inter-input-margin {
  margin-bottom: 20px;
}

.heading-icon {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-inline: 5px;
}

.side-image {
  padding: 2%;
  border-radius: 15px;
}

.submit-input {
  color: rgb(217, 225, 255);
}

.error-box {
  background-color: #c23636eb;
  border-radius: 3px;
  border: 0px;
}

.event-box {
  background-color: rgba(185, 215, 255, 0.46);
  color: rgb(217, 225, 255);
  max-width: 113%;
  flex: 0 0 113%;
  padding: 5%;
  border-radius: 5px;
  border: 0px;
  font-family: "Arimo";
  font-size: 1em;
  font-weight: 600;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

.line {
  margin-top: 20px;
  margin-bottom: 20px;
  border-color: #464646;
}

.bring-center {
  text-align: center;
  justify-content: center;
}

.to {
  margin-inline: 5px;
  margin-block: auto;
}

select {
  width: 55%;
  color: rgb(217, 225, 255);
  background-color: rgba(246, 235, 235, 0.26);
  border-radius: 3px;
  border: 0px;
  margin: 2px;
  padding: 3px;
  transition: 0.35s;
  font-family: "Arimo";
}

select:hover {
  background-color: rgba(208, 196, 255, 0.71);
}

.player-dropdown {
  width: -webkit-fill-available;
  margin: 0px 0px 5px 0px;
}

.explore-button {
  width: -webkit-fill-available;
  margin: 0px 0px 5px 0px;
  background-color: rgb(128, 97, 255);
  color: white;
  border-radius: 3px;
  font-family: Arimo;
  font-weight: 600;
  font-size: 1em;
  padding: 7px;
  border: 0px;
}

.my-btn {
  background-color: #050505;
  color: white;
  border: solid 1px #464646;
  border-radius: 30px;
  padding: 10px;
  margin: 5px;
  justify-content: center;
  transition: 0.35s;
}

.my-btn-disabled {
  background-color: #434343 !important;
}

.my-btn:hover {
  background-color: #434343;
}

.line-find {
  margin-top: 30px;
}

.find-icon {
  margin-inline: 5px;
}

.find {
  margin: 5px;
}

.result {
  transition: 0.35s;
}

.row-margin {
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

table {
  border-collapse: separate;
}

.sticky-header {
  z-index: 3;
  position: sticky;
  top: 0;
  background-color: #5e678e;
  border: solid 1px #464646;
}

.sticky-col {
  z-index: 2;
  position: sticky;
  left: 0;
  background-color: #5e678e;
  border: solid 1px #464646;
}

.hiding-scroll {
  z-index: 1;
  top: 0;
  position: sticky;
}

.hiding-col {
  z-index: 1;
  left: 0;
  position: sticky;
}

.table-width {
  width: 100%;
}

.table-column {
  position: sticky;
  left: 0;
  white-space: nowrap;
  border: solid 1px #464646 !important;
}

.table-body {
  overflow-x: auto;
  overflow-y: auto;
}

.sort-btn {
  border: 0px !important;
  background-color: #5e678e !important;
  color: white;
}

.table-hint {
  font-size: 13px;
  display: flex;
  align-items: center;
}

.hover-btn {
  position: relative;
  margin-right: 31px;
}

.hidden-img {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.hover-btn:hover .hidden-img {
  opacity: 1;
}

.events {
  margin-top: 60px;
}
