.center {
  justify-content: center;
  text-align: center;
  align-items: center;
}

.main-panel {
  background-color: #050505;
  border-radius: 10px;
  border: solid 1px #464646;
  box-shadow: 0px 0px 20px 3px rgb(0, 0, 0, 0.3);
  font-family: "poppins";
  margin-top: 150px;
  padding: 30px;
  color: white;
}

.result-panel {
  width: auto;
  overflow-x: auto;
  overflow-y: auto;
  height: 600px;
  margin-top: 5% !important;
  margin-bottom: 5% !important;
  font-size: 65% !important;
}

.title {
  justify-content: center;
  color: white;
  font-family: "Courier", sans-serif;
  word-spacing: -10px;
  margin-top: 25px;
}

.analyze-icon {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-inline: 5px;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

.line {
  margin-top: 20px;
  margin-bottom: 20px;
  border-color: #464646;
}

.bring-center {
  justify-content: center;
}

.to {
  margin-inline: 5px;
  margin-block: auto;
}

select {
  color: white;
  background-color: black;
  border-radius: 15px;
  border: solid 1px #464646;
  margin: 2px;
  padding: 3px;
  transition: 0.35s;
}

select:hover {
  background-color: #434343;
}

.my-btn {
  background-color: #050505;
  color: white;
  border: solid 1px #464646;
  border-radius: 30px;
  padding: 10px;
  margin: 5px;
  justify-content: center;
  transition: 0.35s;
}

.my-btn-disabled {
  background-color: #434343 !important;
}

.my-btn:hover {
  background-color: #434343;
}

.line-find {
  margin-top: 30px;
}

.find-icon {
  margin-inline: 5px;
}

.find {
  margin: 5px;
}

.result {
  transition: 0.35s;
}

.row-margin {
  margin-top: 25px;
  margin-bottom: 25px;
}

table {
  border-collapse: separate;
}

.sticky-header {
  z-index: 3;
  position: sticky;
  top: 0;
  background-color: #050505;
  border: solid 1px #464646;
}

.sticky-col {
  z-index: 2;
  position: sticky;
  left: 0;
  background-color: #050505;
  border: solid 1px #464646;

}

.hiding-scroll {
  z-index: 1;
  top: 0;
  position: sticky;
}

.hiding-col {
  z-index: 1;
  left: 0;
  position: sticky;
}

.table-width {
  width: 100%;
}

.table-column {
  position: sticky;
  left: 0;
  white-space: nowrap;
  padding: 18px;
  border: solid 1px #464646 !important;
}

.table-body {
  overflow-x: auto;
  overflow-y: auto;
}
