body {
  color: white;
  background-color: rgb(12, 10, 51);
  background-repeat: no-repeat;
  background-size: cover;
  /* You can adjust other properties like background-size, background-position, etc. */
}

.heading {
  color: white;
  font-size: 2.35294em;
  font-weight: 700;
  font-family: "Syne";
  word-spacing: 5px;
  margin-bottom: 25px;
}

.first-row {
  margin-top: 10px;
}
