p {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

label {
  margin-bottom: 0 !important;
}

body {
  background-color: rgb(128, 97, 255);
}

.caution-p {
  margin-right: 15px;
}

.caution {
  padding: 15px;
  display: flex;
  align-items: center;
}

.tool-panel {
  background-color: rgb(12, 10, 51);
  border-radius: 5px;
  border: 0px;
  box-shadow: 0px 0px 20px 3px rgb(0, 0, 0, 0.3);
  font-family: "Syne";
  color: white;
  margin-top: 150px;
  padding: 40px;
}

.tool-row {
  margin-top: 30px;
}

.tool-btn {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
  background-color: #5e678ea8;
  color: rgb(217, 225, 255);
  text-align: left;
  border: 0px;
  padding: 6px;
}

.tool-btn:hover {
  background-color: rgba(208, 196, 255, 0.71);
}

.tool-heading {
  font-family: "Syne";
  font-size: 20px;
  font-weight: 600;
}

.tool-desc {
  font-family: "Arimo";
  font-size: 10px;
  font-weight: 400;
}
