{% extends './base.html' %}
{% block title %} Data Finder {% endblock %}
{% block content %}
{% load static %}

<head>
    <link type="text/css" rel="stylesheet" href="{% static 'css/data_finder.css' %}"/>
    <script type="text/javascript" src="{% static 'js/data_finder.js' %}"></script>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <div class="col-md-6 offset-md-3 center main-panel">
            <p>
                Find Carleton data between 
                <span>
                    <input type="hidden" id="start-year-input" name="start-year" value="">
                    <input type="hidden" id="start-month-input" name="start-month" value="">
                    <input type="hidden" id="start-day-input" name="start-day" value="">
                    <div class="date-dropdown" id="start-date"></div>
                </span>
                &
                <span>
                    <input type="hidden" id="end-year-input" name="end-year" value="">
                    <input type="hidden" id="end-month-input" name="end-month" value="">
                    <input type="hidden" id="end-day-input" name="end-day" value="">
                    <div class="date-dropdown" id="end-date"></div>
                </span>
            </p>
            <button class="btn btn-success" name="search">Search</button>
            {% if result == 'Empty' %}
            <p>There is no data in such date</p>
            {% elif file_ready %}
            <p>Tracked data is ready to download</p>
            <button class="btn btn-success" name="download" style="background-color: black; border-color: black;">Download</button>
            {% endif %}
        </div>
    </form>

</body>
{% endblock %}
