{% extends './base.html' %}
{% block title %} Superuser Confirmation {% endblock %}
{% block content %}
{% load static %}
<head>
  <link type="text/css" rel="stylesheet" href="{% static 'css/analytics.css' %}"/>
  <link type="text/css" rel="stylesheet" href="{% static 'css/is_superuser.css' %}"/>
  <link type="text/css" rel="stylesheet" href="{% static 'css/binary_switch.css' %}"/>
  <link type="text/css" rel="stylesheet" href="{% static 'css/switch.css' %}"/>
</head>
<body>
  <form action="" method="post">
    {% csrf_token %}

    <div class="col-md-6 offset-md-3 tool-panel">

      {% if not data_finder and not season%}
      <div class="row col-md-6 offset-md-3 bring-center caution">
        <div class="col-md-6">
          <label>Men</label>
        </div>
        <input type="hidden" name="mw" id="mw" value="women">
        <div id="dynamic_mw" class="container on" onclick="this.classList.toggle('off'); this.classList.toggle('on')">
          <div class="toggle">
            <div class="detail"></div>
            <div class="detail"></div>
            <div class="detail"></div>
          </div>
        </div>
        <div class="col-md-6">
          <label>
            Women
          </label>
        </div>
      </div>

      <div class="row col-md-10 offset-md-1 tool-row">
        <div class="col-md-6">
          <button class="col-md-12 tool-btn" name="data_finder">
            <h4 class="tool-heading">
              Match Finder
            </h4>
            <span>
              Explores match-based data
            </span>
          </button>
        </div>
        <div class="col-md-6">
          <button class="col-md-12 tool-btn" name="season">
            <h4 class="tool-heading">
              Season Reporter
            </h4>
            <span>
              Explores season-based reports
            </span>
          </button>
        </div>
      </div>

      {% else %}
      <div class="row col-md-10 offset-md-1 tool-row">
        <div class="col-md-6">
          <button class="col-md-12 tool-btn"
            {% if data_finder %}
            name="df_analytics">
            <h4 class="tool-heading">
              Match Information
            </h4>
            <span>
              Data for specific match
            </span>
            {% else %}
            name="sr_analytics">
            <h4 class="tool-heading">
              Players Stats
            </h4>
            <span>
              Seasonal report players
            </span>
            {% endif %}
          </button>
        </div>

        <div class="col-md-6">
          <button class="col-md-12 tool-btn"
            {% if data_finder %}
            name="df_lineup_eval"
            {% else %}
            name="sr_lineup_eval"
            {% endif %}
            >
            <h4 class="tool-heading">
              Lineup Evaluation
            </h4>
            <span>
              Finds data for specific lineup
            </span>
          </button>
        </div>
      </div>
      {% endif %}
    </div>
  </form>
  <script type="text/javascript" src="{% static 'js/binary_switch.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/switch.js' %}"></script>
</body>
{% endblock %}
