{% extends './base.html' %}
{% block title %} Superuser Confirmation {% endblock %}
{% block content %}
<body>
  <h1>
    <p>
      Are you a superuser? <span>{{is_superuser}}</span>
      {% if is_superuser == 'False' %}
      <p>
        If you think you are one, click this: <span><a href="admin">admin login</a></span>
      </p>
      {% else %}
      <p>
      Visit our basketball league <a href="{% url 'analytics' %}">Analitycs Finder</a> or 
      <a href="{% url 'lineup_eval' %}">Lineup Evaluator</a> or 
      <a href="{% url 'season' %}">Season Reporter</a>
      </p>
      <p>
      <form action="{% url 'logout' %}" method="post">
          {% csrf_token %}
          <input type="submit" value="Logout">
      </form>
      </p>
      {% endif %}
    </p>
  </h1>
</body>
{% endblock %}
