{% extends './base.html' %}
{% block title %} Superuser Confirmation {% endblock %}
{% block content %}
{% load static %}
<head>
  <link type="text/css" rel="stylesheet" href="{% static 'css/analytics.css' %}"/>
  <link type="text/css" rel="stylesheet" href="{% static 'css/is_superuser.css' %}"/>
  <link type="text/css" rel="stylesheet" href="{% static 'css/binary_switch.css' %}"/>
  <link type="text/css" rel="stylesheet" href="{% static 'css/switch.css' %}"/>
</head>
<body>
  <form action="" method="post">
    {% csrf_token %}
    <div class="col-md-6 offset-md-3 tool-panel">
      <div class="row col-md-6 offset-md-3 bring-center caution">
        {% if is_superuser == 'True' %}
        <input type="submit" id="admin_link" name="logout" hidden>
        {% else %}
        <a href="admin" id="admin_link" hidden></a>
        {% endif %}
        <p class="caution-p">Are You Superuser?</p>
        <div class="bn_toggle">
          <input type="checkbox" id="btn"
          {% if is_superuser == 'True' %}
          checked
          {% endif %}
          >
          <label for="btn">
            <span class="thumb"></span>
          </label>
          <div class="light"></div>
        </div>
      </div>

      {% if is_superuser == 'True' %}
      {% if not data_finder and not season%}
      <div class="row col-md-6 offset-md-3 bring-center caution">
        <div class="col-md-6">
          <label>Men</label>
        </div>
        <input type="hidden" name="mw" id="mw" value="women">
        <div id="dynamic_mw" class="container on" onclick="this.classList.toggle('off'); this.classList.toggle('on')">
          <div class="toggle">
            <div class="detail"></div>
            <div class="detail"></div>
            <div class="detail"></div>
          </div>
        </div>
        <div class="col-md-6">
          <label>
            Women
          </label>
        </div>
      </div>

      <div class="row col-md-10 offset-md-1">
        <div class="col-md-6">
          <button class="row col-md-10 offset-md-1 bring-center tool tool-btn" name="data_finder">
            Match Finder
          </button>
        </div>
        <div class="col-md-6">
          <button class="row col-md-10 offset-md-1 bring-center tool tool-btn" name="season">
            Season Reporter
          </button>
        </div>
      </div>

      {% else %}
      <div class="row col-md-10 offset-md-1">
        <div class="col-md-6">
          <button class="row col-md-10 offset-md-1 bring-center tool tool-btn"
            {% if data_finder %}
            name="df_analytics">
            Match Information
            {% else %}
            name="sr_analytics">
            Players Stats
            {% endif %}
          </button>
        </div>
        <div class="col-md-6">
          <button class="row col-md-10 offset-md-1 bring-center tool tool-btn" 
            {% if data_finder %}
            name="df_lineup_eval"
            {% else %}
            name="sr_lineup_eval"
            {% endif %}
            >
            Lineup Evaluation
          </button>
        </div>
      </div>
      {% endif %}
      {% endif %}
    </div>
  </form>
  <script type="text/javascript" src="{% static 'js/binary_switch.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/switch.js' %}"></script>
</body>
{% endblock %}
