{% extends './base.html' %}
{% block title %}
{% if result %}
{{selected_team}} Seasonal Report
{% else %}
Seasonal Reporter
{% endif %}
{% endblock %}
{% block content %}
{% load static %}

<head>
  <link type="text/css" rel="stylesheet" href="{% static 'css/analytics.css' %}" />
  <link type="text/css" rel="stylesheet" href="{% static 'css/switch.css' %}" />
</head>

<body>
  <div class="title col-md-6 offset-md-3 row">
    <img class="analyze-icon" src="{% static 'icons/season.png' %}" width="32" height="32">
    <h1>
      Full Season Report
    </h1>
  </div>
  <form action="" method="post">
    {% csrf_token %}
    <div class="col-md-6 offset-md-3 center main-panel">
      <h4>Find Seasonal Data</h4>
      <hr class="line">
      <div class="row bring-center">
        <div class="col-md-6">
          <p>Team</p>
          <select name="team">
            {% for team in teams %}
            <option value="{{team}}">{{team}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="row bring-center switch-margin">
        <p>Choose Table</p>
      </div>
      <div class="row bring-center">
        <div class="col-md-2">
          <label>Players</label>
        </div>
        <svg id="noise-svg">
          <filter id='noiseFilter'>
            <feTurbulence type='fractalNoise' baseFrequency='0.5' numOctaves='3' stitchTiles='stitch' />
          </filter>
          <rect id="noise-rect" filter='url(#noiseFilter)' />
        </svg>

        <input type="hidden" name="switch" id="switch" value="lineups">
        <div id="dynamic" class="container on" onclick="this.classList.toggle('off'); this.classList.toggle('on')">
          <div class="toggle">
            <div class="detail"></div>
            <div class="detail"></div>
            <div class="detail"></div>
          </div>
        </div>
        <div class="col-md-2">
          <label>
            Lineups
          </label>
        </div>
      </div>
      <div class="row bring-center">
        <button class="row my-btn bring-center line-find" name="find-data">
          <img class="find-icon" src="{% static 'icons/find.png' %}" width="32" height="32">
          <span class="find">
            Find
          </span>
        </button>
      </div>
      {% if no_data %}
      <div class="row bring-center row-margin">
        <label>
          No such match found on database
        </label>
      </div>
      {% endif %}
    </div>
    {% if result %}
    <div class="col-md-10 offset-md-1 center main-panel result-panel">
      <table class="table-width" cellpadding="0" cellspacing="0" border="0">
        <thead class="sticky-header">
          <tr>
            {% for data in theaders %}
            {% if forloop.counter != 1 %}
            <th class="table-column hiding-col">{{data}}</th>
            {% else %}
            <th class="table-column sticky-col">{{data}}</th>
            {% endif %}
            {% endfor %}
          </tr>
        </thead>
        <tbody class="table-body">
          {% for row in next_rows %}
          <tr class="hiding-scroll">
            {% for col in row %}
            {% if forloop.counter != 1 %}
            <td class="table-column">
              {{col}}
            </td>
            {% else %}
            <td class="table-column sticky-col">
              {{col}}
            </td>
            {% endif %}
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
  </form>
  <script type="text/javascript" src="{% static 'js/lineup_eval.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/switch.js' %}"></script>
</body>
{% endblock %}
