{% extends './base.html' %}
{% block title %}
{% if result %}
{{selected_team}} Players Stats
{% else %}
Seasonal Players Stats
{% endif %}
{% endblock %}
{% block content %}
{% load static %}

<head>
  <link type="text/css" rel="stylesheet" href="{% static 'css/analytics.css' %}" />
  <link type="text/css" rel="stylesheet" href="{% static 'css/switch.css' %}" />
</head>

<body>
  <form action="" method="post">
    {% csrf_token %}
    <div class="col-md-6 offset-md-3 row first-row">
      <div class="col-md-6">
        <div class="row">
          <img class="heading-icon" src="{% static 'icons/season.png' %}" width="32" height="32">
          <h1 class="heading">
            Players Stats
          </h1>
        </div>
        <div class="row">
          <h4 class="panel-hint">
            Find seasonal data
          </h4>
        </div>

        <div class="row">
          <div class="col-md-2 remove-leftpad">
            <h4 class="num-cube">
              1
            </h4>
          </div>
          <div class="col-md-10 remove-leftpad">
            <h4 class="input-heading">
              Team
            </h4>
          </div>
        </div>
        {% if not result %}
        <div class="row inter-input-margin">
          <div class="col-md-10 offset-md-2 remove-leftpad">
            <select name="team">
              {% for team in teams %}
              <option value="{{team}}">{{team}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        {% else %}
        <div class="row inter-input-margin">
          <div class="col-md-10 offset-md-2 remove-leftpad">
            <label class="submit-input">
              {{selected_team}}
            </label>
          </div>
        </div>
        {% endif %}

        <div class="row">
          <div class="col-md-2 remove-leftpad">
            <h4 class="num-cube">
              2
            </h4>
          </div>
          <div class="col-md-10 remove-leftpad">
            <h4 class="input-heading">
              {% if not result %}
              Choose table
              {% else %}
              Chosen table
              {% endif %}
            </h4>
          </div>
        </div>
        {% if not result %}
        <div class="row inter-input-margin switch-extra-margin">
          <div class="col-md-10 offset-md-2 remove-leftpad">
            <div class="row">
              <div class="col-md-4 H-align">
                <p>
                  P
                </p>
              </div>
              <div class="col-md-4 switch-padding">
              <input type="hidden" name="pl" id="pl" value="Lineups">
              <div id="dynamic_pl" class="container on" onclick="this.classList.toggle('off'); this.classList.toggle('on')">
                <div class="toggle">
                  <div class="detail"></div>
                  <div class="detail"></div>
                  <div class="detail"></div>
                </div>
              </div>
              </div>
              <div class="col-md-4">
                <p>
                  L
                </p>
              </div>
            </div>
          </div>
        </div>
        {% else %}
        <div class="row inter-input-margin">
          <div class="col-md-10 offset-md-2 remove-leftpad">
            <label class="submit-input">
              {{PL}}
            </label>
          </div>
        </div>
        {% endif %}

        <div class="row">
          <div class="col-md-10 offset-md-2 remove-leftpad">
            {% if not result %}
            <button class="explore-button" name="find-data">
              <img class="find-icon" src="{% static 'icons/find.png' %}" width="32" height="32">
              <span class="find">
                Explore
              </span>
            </button>
            {% else %}
            <button class="explore-button" name="reset">
              <img class="find-icon" src="{% static 'icons/reset.png' %}" width="32" height="32">
              <span class="find">
                Reset
              </span>
            </button>
            {% endif %}
          </div>
        </div>

        {% if no_table %}
        <div class="row bring-center row-margin">
            <label class="col-md-10 offset-md-2 error-box">
              No data for this team
            </label>
        </div>
        {% endif %}
      </div>

      <div class="col-md-6">
        <div class="row inter-input-margin">
          <img class="side-image" src="{% static 'images/players_stats.avif' %}" width="384" height="512">
        </div>
        {% if events %}
        <div class="row">
          <button class="col-md-12 event-box" name="events">
            Match Events
          </button>
        </div>
        {% endif %}
      </div>
    </div>

    {% if result %}
    <div class="col-md-10 offset-md-1 center main-panel result-panel">
      <h3 class="result-title">{{PL}} Table</h3>
      <table class="table-width" cellpadding="0" cellspacing="0" border="0">
        <thead class="sticky-header">
          <tr>
            {% for col in theaders %}
            {% if forloop.counter != 1 %}
            <th class="table-column hiding-col" name="sort" value="{{col}}">
              <button class="sort-btn hover-btn" name="sort" value="{{col}}">
                <img class="find-icon
                {% if col != selected_col %}
                hidden-img
                {% endif %}
                " src="{% static 'icons/sort.png' %}" width="20" height="20">
                <span>
                  {{col}}
                </span>
              </button>
            </th>
            {% else %}
            <th class="table-column sticky-col">{{col}}</th>
            {% endif %}
            {% endfor %}
          </tr>
        </thead>
        <tbody class="table-body">
          {% for row in next_rows %}
          <tr class="hiding-scroll">
            {% for col in row %}
            {% if forloop.counter != 1 %}
            <td class="table-column">
              {{col}}
            </td>
            {% else %}
            <td class="table-column sticky-col">
              {{col}}
            </td>
            {% endif %}
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>

      {% if PL == 'Players' %}
      {% if no_plot %}
      <div class="row bring-center row-margin">
          <label class="col-md-10 error-box">
            Tables for plots doesn't exist
          </label>
      </div>
      {% elif p_names %}
      <div class="pts_plot">
        {{pts_plot | safe}}
      </div>
      <div class="pperf_section">
        <h3 class="result-title">Player performance section</h3>
        <select class="pperf" id="pperf">
          {% for player in  p_names %}
          <option value="{{player}}">{{player}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="row col-md-12 pperf_section">
        <div class="col-md-6" id="PER_plot"></div>
        <div class="col-md-6" id="SACC_plot"></div>
      </div>
      {% endif %}
      {% endif %}

    </div>
    {% endif %}
  </form>
  <script type="text/javascript" src="{% static 'js/lineup_eval.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/switch.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/select_change.js' %}"></script>
</body>
{% endblock %}
