{% extends './base.html' %}
{% block title %}
{% if result %}
{{request.session.team}} Seasonal Events
{% else %}
Seasonal Events Finder
{% endif %}
{% endblock %}
{% block content %}
{% load static %}

<head>
  <link type="text/css" rel="stylesheet" href="{% static 'css/analytics.css' %}" />
  <link type="text/css" rel="stylesheet" href="{% static 'css/switch.css' %}" />
</head>


<body>
  <div class="title col-md-6 offset-md-3 row">
    <img class="analyze-icon" src="{% static 'icons/events.png' %}" width="32" height="32">
    <h1>
      Seasonal Events Finder
    </h1>
  </div>
  <form action="" method="post">
    {% csrf_token %}
    <div class="col-md-6 offset-md-3 center main-panel">
      <h4>Find players event table</h4>
      <hr class="line">
      <div class="row bring-center row-margin">
        <div class="col-md-12">
          <p>Team</p>
          <label class="bring-center">
            {{request.session.team}}
          </label>
        </div>
      </div>
      <div class="row bring-center">
        <button class="row my-btn bring-center line-find" name="find-events">
          <img class="find-icon" src="{% static 'icons/find.png' %}" width="32" height="32">
          <span class="find">
            Find
          </span>
        </button>
        <button class="row my-btn bring-center line-find" name="back">
          <img class="find-icon" src="{% static 'icons/back.png' %}" width="32" height="32">
          <span class="find">
            Back
          </span>
        </button>
      </div>
    </div>
    {% if result %}
    <div class="col-md-10 offset-md-1 center main-panel result-panel text-center">
      <p class="row">
        <img class="find-icon" src="{% static 'icons/hint.png' %}" width="20" height="20">
        <span class="table-hint">You can Click each table column to sort it as wanted !</span>
      </p>
      <table class="table-width row-margin" cellpadding="0" cellspacing="0" border="0">
        <thead class="sticky-header">
          <tr>
            {% for col in theaders %}
            {% if forloop.counter != 1 %}
            <th class="table-column hiding-col">
              <button class="sort-btn hover-btn" name="sort" value="{{col}}">
                <img class="find-icon
                {% if col != selected_col %}
                hidden-img
                {% endif %}
                " src="{% static 'icons/sort.png' %}" width="20" height="20">
                <span>
                  {{col}}
                </span>
              </button>
            </th>
            {% else %}
            <th class="table-column sticky-col">
              {{col}}
            </th>
            {% endif %}
            {% endfor %}
          </tr>
        </thead>
        <tbody class="table-body">
          {% for row in next_rows %}
          <tr class="hiding-scroll">
            {% for data in row %}
            {% if forloop.counter != 1 %}
            <td class="table-column">
              {{data}}
            </td>
            {% else %}
            <td class="table-column sticky-col">
              {{data}}
            </td>
            {% endif %}
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
  </form>
  <script type="text/javascript" src="{% static 'js/switch.js' %}"></script>
</body>
{% endblock %}
